
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.toparena{
    padding-top: 12vh;
}
#page{
    margin-top: 30px;
}
#backh {
    height: 12vh;
    width: 100%;
    background-color: rgb(255, 72, 72);
    background-size: cover;
    position: fixed;
    padding: 0%;
    z-index: 1000000;
} 
.bigpadding{
    margin-left: 35vw;
    font-size: 3 em;
    margin-top:5vh;
}


#knopka {
    background-color: rgb(254, 194, 152);
    border-radius: 10px 0 10px 0;
    position: relative;
    margin: 0 auto;
    width: 50vmin;
    height: fit-content;
    margin: 0 auto;
    display: block;
    font-size: 4vmin;
    margin-top:5vmin;
}
   

#meropriatia {
    text-align: center;
    border-radius: 15%;
}

#logo {
    margin-left: 1vw;
    margin-top: 0.5vw;
}

.main-nav {
    display: inline-flex;
    position: fixed;
}

.mainphoto{
    border: 3vmin solid rgba(199, 199, 199, 0.467);
    margin-top: 10vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr 0.5fr; 
    justify-content: center;
}

.word{
    writing-mode: vertical-lr;
    padding-top: 22vmin;
    margin-left: 24vw;
  font-size:8em;
  background-color: coral;
}
#logo-text {
    margin-top: 3vmin;
    margin-left: 2vw;
}

.textonphoto{
    font-size: 3em;
  text-align: center;
}

.mainpic {
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    padding-top: 12vh;
    grid-gap: 20px; 
    
}

.citata{
    color: white;
    padding-top: 20vmin;
    border: 3vmin solid rgb(221, 221, 221);
  font-size: 2.5em;
  padding-left: 2vw;
}

.mainincsk{
    display: grid;
    grid-template-columns: 0.1fr 1fr; 
    justify-content: left;
}

#arena {
    float: right;
    margin: 10px;
}

h2 {
    size: 80vw;
    text-align: center;
    text-wrap: balance;
}

#aboutus {
    
    border-radius: 10px 0 10px 0;
    position: relative;
    /* left: 45%; */ 
    margin: 0 auto; /* центрирование блока */
    width: 20vmin;
    height: fit-content;
    background-color: rgb(255, 72, 72);
}

.hrafterredsquere {
    width: 100px;
    margin: 20px auto;
    border: 1px solid black;
}

#us {
    
    margin-left: 1vw;
    font-size: 3vmin;
    text-align: center;
}

.metro{
    padding-top: 12vh;
}
.textprometrocsk{
    font-size: 6vmin;
}

.Contacts{
    padding-top: 5vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
    margin-top: 12vh;
    font-size: 1.3em;
    background-color: rgba(199, 199, 199, 0.467); 

}
.num-email{
    display: flex;
    margin-left: 10vmin; 
    font-weight: bold;
}
.link{
    padding-left:10vmin;
}