/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');

/* all styles */
* {
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* =============== HEADER ============== */

.header {
    height: 12vh;
    width: 100%;
    background-color: rgb(255, 72, 72);
    background-size: cover;
    position: fixed;
    padding: 0%;
    z-index: 1000000;
}

.logo {
    width: 8vw;
    height: 8vh;
    position: relative;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-block > .nav-logo {
    margin: 0;
}

.nav-logo {
    font-size: 2vw;
    position: relative;
}

.nav-block-nav {
    display: flex;
}

.nav-link {
    font-size: 2vw;
    color: #000;
    transition: all .2s;
}

.nav-block-logo {
    display: flex;
    gap: .5em;
    align-items: center;
}

.nav-link:hover {
    transition: all .2s;
    color: #a29292;
    font-weight: 500;
}

/* ============== */

.toparena {
}

.bigpadding {
    margin-left: 30vw;

}


#knopka {
    background-color: rgb(254, 194, 152);
    border-radius: 10px 0 10px 0;
    position: relative;
    margin: 0 auto;
    width: 50vmin;
    height: fit-content;
    margin: 0 auto;
    display: block;
    font-size: 4vmin;
}


#meropriatia {
    text-align: center;
    border-radius: 15%;
}


.mainphoto {
    border: 3vmin solid rgba(199, 199, 199, 0.467);
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column dense;
    /* Автоматическое размещение в колонку */
}

.item1 {
    grid-row: span 3;
}

.item2 {
    grid-column: span 3;
}

.item3 {
    grid-column: span 3;
}

.item4 {
    grid-column: span 3;
}

.item5 {
    grid-row: span 3;
}



.word {
    writing-mode: vertical-lr;
    font-size: 8.5em;
    background-color: coral;
}

.textonphoto {
    font-size: 3em;
    text-align: center;
}

.mainpic {
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 1em;
}

.citata {
    color: white;
    border: 3vmin solid rgb(221, 221, 221);
    font-size: 2.5em;
    padding-left: 2vw;
}

.mainincsk {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    justify-content: left;
}

#arena {
    float: right;
    margin: 10px;
}

h2 {
    size: 80vw;
    text-align: center;
    text-wrap: balance;
}

#aboutus {

    border-radius: 10px 0 10px 0;
    position: relative;
    /* left: 45%; */
    margin: 0 auto;
    /* центрирование блока */
    width: 20vmin;
    height: fit-content;
    background-color: rgb(255, 72, 72);
}

.hrafterredsquere {
    width: 100px;
    margin: 20px auto;
    border: 1px solid black;
}

#us {

    margin-left: 1vw;
    font-size: 3vmin;
    text-align: center;
}

.metro {
}

.textprometrocsk {
    font-size: 6vmin;
}

.Contacts {
    padding-left: 5vmin;
    padding-right: 5vmin;
    margin-top: 12vh;
    font-size: 1.3em;
    background-color: rgba(199, 199, 199, 0.467);

}


.num-email {
    display: flex;
    margin-left: 10vmin;
    font-weight: bold;
}

.link {
    padding-left: 10vmin;

}

.footer {
    margin-top: auto;
}